<!DOCTYPE html>
<html lang="pt-br" ng-app="ComprasApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://mmaicon.github.io/imersaodev-aluraflix/style.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

    <script src="https://mmaicon.github.io/imersaodev-aluraflix/js/angular.min.js"></script>
    <script src="js/angular.min.js"></script>

    <script src="https://mmaicon.github.io/imersaodev-aluraflix/app/controllers/comprasController.js"></script>
    <script src="app/controllers/comprasController.js"></script>
    <title>Site simples com html e css</title>
</head>

    
    <header class="header5">
        <nav>
            <a href="index.html">Petto</a>
            <ul class="nav-principal">
                <li><a href="index.html">Principal</a></li>
                <li><a href="Pagina2.html">Sobre</a></li>
                <li><a href="Pagina3.html">Serviços</a></li>
                <li><a href="Pagina4.html">Dogwalk</a></li>
                <li><a href="Pagina5.html">Vacinação</a></li>
                <li><a href="Pagina6.html">Contato</a></li>
            </ul>
            <ul class="nav-secundaria">
                <li><a class="nav-secundaria1" href="Pagina7.html">Entrar</a></li>
                <li><a class="nav-secundaria2" href="Pagina7.html">Cadastrar-se</a></li>
            </ul>
        </nav>
    </header>

</head>

<body class="bocy">
    <container class="container-b">
    <div class="box">
        <form class="form-b" action="">
            <fieldset>
                <legend><strong>Formulário do Pet </strong></legend>
                <br>
                <div class="inputBox">
                    <input type="text" name="nome" id="name" class="inputUser" required>
                    <label for="none" class="labelinput"><b>Nome do Pet:</b></label>
                    
                </div><br><br>

                <div class="inputBox">
                    <input type="text" name="especie" id="especie" class="inputUser" required>
                    <label for="none" class="labelinput"><b>Especie:</b></label>
                </div><br>

                <p><b>Genero:</b></p>
                <input type="radio" id="femea" name="genero" value="Femea" required>
                <label for="femea"><b>Fêmea</b></label><br>

                <input type="radio" id="macho" name="genero" value="macho" required>
                <label for="macho"><b>Macho</b></label>
                <br><br>


                <label for="data de nascimento"><b>Data de nascimento:</b></label>
                <input type="date" name="data_nascimento" id="data_nascimento" required>
                <br><br>

                <div class="inputBox">
                    <input type="text" name="raca" id="raca" class="inputUser" required>
                    <label for="none" class="labelinput"><b>Raça:</b></label>
                </div><br><br>

                <div class="inputBox">
                    <input type="text" name="pelagem" id="pelagem" class="inputUser" required>
                    <label for="none" class="labelinput"><b>Pelagem:</b></label>
                </div><br><br>

                <div class="inputBox">
                    <input type="text" name="nometutor" id="nometutor" class="inputUser" required>
                    <label for="none" class="labelinput"><b>Nome do Tutor:</b></label>
                </div><br><br>

                <div class="inputBox">
                    <input type="tel" name="telefone" id="telefone" class="inputUser" required>
                    <label for="telefone" class="labelinput"><b>Telefone/Celular:</b></label>
                </div><br><br>

                <div class="inputBox">
                    <input type="text" name="text" id="text" class="inputUser" required>
                    <label for="none" class="labelinput"><b>Endereço:</b></label>
                </div><br><br>


                <input type="submit" name="submit" id="submit">


            </fieldset>

        </form>
    </div>
    <div ng-controller="comprasController" class="containerCompra">
        <fieldset>
            <legend><strong> Ficha de vacina </strong></legend><br><br>
            <div class="">

                <div class="inputBox">
                    <input type="text" name="novaVacina.nome" class="inputUser" ng-model="novaVacina.nome" required>
                    <label for="novaVacina.nome" class="labelinput"><b>Digite o nome da vacina:</b> </label>
                </div><br><br>
                <div class="inputBox">
                    <input type="text" name="novaVacina.dose" class="inputUser" ng-model="novaVacina.dose" required>
                    <label for="novaVacina.dose" class="labelinput"><b>Digite a dose da vacina:</b> </label>
                </div>
                <br><br>
                <button type="submit" class="submit" ng-click="adicionaVacina()">Adicionar</button>
            </div><br><br>

            <div class="inputBox">
                <input type="text" name="searchItem" class="inputUser" ng-model="searchItem" required>
                <label for="searchItem" class="labelinput"><b>Filtrar</b></label>
            </div><br><br>
            <table>
                <thead>
                    <tr>
                        <th>Nome da vacina</th>
                        <th>Dose</th>
                        <th></th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr ng-repeat="vacina in vacinas | filter: searchItem" class="item">
                        <td>{{ vacina.nome }}</td>
                        <td>{{ vacina.dose }}</td>
                        <td><span class="material-symbols-outlined clique" ng-click="removeVacina($index)">delete</span></td>

                    </tr>
                </tbody>
            </table>
            <p ng-show="vacinas.length === 0">Nenhum item na lista</p>
        </fieldset>
    </div>
    </container>



<footer>
    <div class="footer-header">
    <p class="destaqueH1">Fale conosco</p>
    
    <p>Telefone (12) 3456-7890<p>
    <p>E-mail PettoWeb@animaisite.com.br<p>
    <p>Localização Rua Avelar, 237, São Paulo, SP<p>
    </div>
    <p class="footer-direitos">&copy; 2024 Petto. Todos os direitos reservados.</p>
    
</footer>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>

</body>
</html>
